@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    scroll-behavior: smooth;
  }

  .nav_item {
    &:not(:last-child) {
      @apply border-r-2 border-[#ccc];
    }
  }

  .hide_scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  input[name='sizes']:checked + label {
    @apply bg-charcoal-grey text-off-white;
  }

  .des-cus-scroll {
    &::-webkit-scrollbar {
      width: 5px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-full bg-charcoal-grey bg-opacity-50;
    }
  }

  .hide-show {
    transition: height 200ms ease-in-out;
  }

  .focus-grd {
    background: linear-gradient(90deg, #fff 10%, rgba(#36454f, 0.2));
    @apply border-r-charcoal-grey;
  }

  .more-links:hover > ul {
    display: flex;
  }
}
